replicaCount: 1

image:
  repository: ghcr.io/norbert204/grpccachingservice
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 2000

securityContext:
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

livenessProbe:
  tcpSocket:
    port: http
readinessProbe:
  tcpSocket:
    port: http

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

redis:
  enabled: true
  architecture: standalone
  connectionString: "caching-service-redis-master:6379"
  auth:
    enabled: false
  master:
    replicaCount: 1
    persistence:
      enabled: false
  replica:
    replicaCount: 0
    persistence:
      enabled: false

extraEnv: []
