replicaCount: 1

image:
  repository: ghcr.io/norbert204/grpcdatabaseservice
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 2000

securityContext:
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

livenessProbe:
  tcpSocket:
    port: http
readinessProbe:
  tcpSocket:
    port: http

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

cassandra:
  enabled: true
  contactPoints: "scylla"
  keyspace: "sas_db"


scylla:
  replicaCount: 1
  image:
    repository: docker.io/scylladb/scylla
    tag: "5.4"
    pullPolicy: IfNotPresent
  resources: {}
  storage:
    size: 10Gi
    storageClassName: ""
  schemaInit:
    enabled: true
    host: "scylla"
    replicationFactor: 1
    backoffLimit: 10

extraEnv: []
